<!-- 2015244055 김성민 
문의하기 생성 페이지 
-->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>선문대학교 셔틀버스</title>
</head>
{% endblock %}
<body>
{% block header %}
<article>

    <div class="container" role="main">
<br>
        <h2>건의하기</h2>
        <br>
        <form name="form" id="form" role="form" method="POST" action="{% url 'secret_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요" required>
            </div>
            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image">이미지</label>
                <input type="file" placeholder="파일을 선택하세요. " name="image" id="id_image" class="form-control"/>
            </div>
            <div><label for="id_private">비밀글 체크</label> 
                <input type="checkbox" name="private" id="id_private"></div>

            <button type="submit" class="btn btn-success" id="btnSave">작성</button>

        </form>
<br>
    </div>
</article>
        {% endblock %}
</body>
</html>