<!-- 2015244055 김성민 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>선문대학교 셔틀버스</title>
 
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/freelancer.min.css' %}"  rel="stylesheet">

  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <style>
  .bg-green{
    background-color:#237491;
    
  }

.btn-1:hover {

	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);

	outline-offset: 15px;
	text-shadow: 1px 1px 2px #427388;
}


  </style>
</head>

{% block head %}
{% endblock %}
<body>
 <header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-green fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">선문대학교 셔틀버스</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> <div class="collapse navbar-collapse" id="navbarResponsive">
     
        <ul class="navbar-nav ml-auto ">

          <li class="nav-item">
            <a class="nav-link btn-1" style="color: black; font-weight: 550;" href="{% url 'about' %}">셔틀시간표</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-1" style="color: black; font-weight: 550;" href="{% url 'post_list' %}">자유게시판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-1" href="{% url  'secret_list' %}" style="color: black; font-weight: 550;" >건의사항</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link btn-1" style="color: black; font-weight: 550;"  href="/{{ user.username }}/reservation" >예매하기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-1" style="color: black; font-weight: 550;"  href="/{{ user.username }}/myhistory" >예매내역</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link btn-1" href="{% url 'signout' %}" style="color: black; font-weight: 550;" >로그아웃</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn-1" href="{% url 'login' %}" style="color: black; font-weight: 550;">로그인</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

  {% block header %}
  
  {% endblock %}

    


  
  <footer class="py-5 bg-green">
      <div class="container">

      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <script src="{% static 'js/freelancer.min.js' %}">
  </script>

{% block footer %}
{% endblock %}  
  </body>

</html>
